<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Mind's Eye Security</title>
   <!-- Custom CSS -->
   <link rel="stylesheet" href="main.css">
   <link rel="stylesheet" href="form.css">
      <!-- Google Fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet">
   <!-- HTMX CDN -->
   <script src="https://unpkg.com/htmx.org@2.0.0"
      integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw"
      crossorigin="anonymous"></script>

</head>

<body>

   <header>
      <div class="container_p">
         <img src="https://placehold.co/50x50?text=Mind%27s+Eye+Security" alt="Company Logo" id="logo_img">

         <div class="link_action" hx-get="/views/home.html" hx-target="#display" hx-trigger="load"></div>

         <nav class="navEl">
            <ul class="navFormat">
               <li class="link_action" hx-get="/views/home.html" hx-target="#display" hx-trigger="click">Home</li>
               <li class="link_action" hx-get="/views/about.html" hx-target="#display" hx-trigger="click">About</li>
               <li class="link_action" hx-get="/views/what_we_offer.html" hx-target="#display" hx-trigger="click">What
                  We Offer</li>
               <li class="link_action" hx-get="/views/why_choose_us.html" hx-target="#display" hx-trigger="click">Why
                  Choose Us</li>
               <li class="link_action" hx-get="/views/contact.html" hx-target="#display" hx-trigger="click">Contact Us
               </li>
            </ul>
         </nav>
      </div>
   </header>


   <div id="display"></div>

   <footer>
      <div class="footer-content">
         <p><strong>Minds Eye Security</strong></p>
         <p>Located in Wisconsin, serving all of Wisconsin</p>
         <p>Email: <a href="mailto:info@mindseyesecurity.com">info@mindseyesecurity.com</a></p>
         <p>Phone: <a href="tel:+16085551234">+1 (608) 555-1234</a></p>
      </div>
   </footer>

   <!-- This script purpose is to display the screen size on the screen with live updates  and element tag names... it is also draggable-->
   <script src="screen-assit.js"></script>


</body>

</html>