body {
   font-family: "Poppins", sans-serif;
   font-weight: 200;
   font-style: normal;
   margin: 0;
 }


.container_p {
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
   background-color: white;
   margin: 10px;
}

.container_p, .navFormat {
   display: flex;
   list-style: none;
   justify-content: space-between;
   align-items: center;
   padding-right: 12px;
   border-radius: 18px;
}

#logo_img {
   border-radius: 15px 0 0 15px;
   margin-left: 5px;
}

.link_action {
   margin-left: 6px;
   padding: 3px 7px;
   background: linear-gradient(to right, rgb(251, 3, 255) 50%, rgb(0, 0, 0) 20%);
   -webkit-background-clip: text;
   background-position: 100% 0 ;
   border: none;
}

.link_action:hover {
   color: transparent;
   background-size: 200% 100%;
   transition: background-position 0.3s ease-in-out;
   cursor: pointer;
   background-position: 100%;
   border: 1px solid rgb(165, 165, 165);
   padding: 2px 6px;
   border-radius: 25px;
   margin: none;
   background-position: 0% 0;
}

.about_hero {
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-items: center;
   font-size: 20px;
}

.about_section {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   height: 250px;
   gap: 10px;
}

.info_center {
   display: flex;
   justify-content: center; 
   align-items: center;
   padding: 20px;
   /* max-height: 500px; */
   max-width: 500px;
   
}

.img_spec {
   width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 50%;
}

.text_spec {
   display: inline;
   margin: auto;
}

.call_to_action {
   display: flex;
   justify-content: end;
   padding: 5px;
}

.btn_font_size {
   font-size: 24px;
}

.about {
   margin: 0 50px 0 50px;
}

.service_list_ul {
   display: flex;
   flex-direction: column;
   margin: 15px;
   position: sticky;
   min-width: 150px;
}

.service_list_li {
   display: flex;
   width: fit-content;
}

.offer_container {
   display:grid;
   grid-template-columns: .75fr 2fr;
}

.sidebar {
   margin-right: 15px;
   border-right: 1px solid rgb(255, 0, 255);
}

footer {
   background-color: #2c3e50; /* Dark blue background */
   color: white; /* White text */
   text-align: center;
   padding: 20px 0; /* Space around the text */
   font-family: Arial, sans-serif; /* Font style */
   border-top: 5px solid rgb(255, 0, 255); /* Red top border */
}

footer .footer-content {
   max-width: 800px;
   margin: auto; /* Center the content */
}

footer a {
   color: rgb(255, 0, 255); /* Red links */
   text-decoration: none;
   transition: color 0.3s ease; /* Smooth transition for hover effect */
}

footer a:hover {
   color: #c0392b; /* Darker red on hover */
}

footer p {
   margin: 5px 0; /* Space between paragraphs */
}

footer p strong {
   font-size: 1.2em; /* Larger font for company name */
   display: block;
   margin-bottom: 10px;
}