<!DOCTYPE html>
<html lang="en">

<head>
   <title>About</title>
</head>

<body>
   <div class="about_hero">
      <div class="info_center text_spec">
         <p>Welcome to Mind's Eye Security! We are a team dedicated to turning ideas into reality with a commitment to integrity and excellence. Our values drive us to deliver innovative solutions that exceed expectations and empower our clients.</p>
         <div class="call_to_action">
            <button class="link_action btn_font_size" hx-get="/views/contact.html" hx-target="#display" hx-trigger="click">Contact us</button>
         </div>
      </div>

      <div class="info_center">
         <img src="../img/circle_of_life.webp" alt="" class="img_spec">
      </div>
   </div>

   <h1>about</h1>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum molestiae, architecto deleniti rerum
      accusantium voluptatem suscipit quasi? Numquam minus alias unde magnam placeat modi velit similique hic iste
      nihil! Nostrum.</p>

   <div>
      <div class="about_section">section 1</div>
      <div class="about_section">section 2</div>
      <div class="about_section">section 3</div>
   </div>

   <footer class="footer">
      This is a footer
   </footer>
</body>

</html>