<!DOCTYPE html>
<html lang="en">

<head>
   <title>About</title>
</head>

<body>
   <div class="about_hero">
      <div class="info_center text_spec">
         <p>Welcome to Mind's Eye Security! We are a team dedicated to turning ideas into reality with a commitment to
            integrity and excellence. Our values drive us to deliver innovative solutions that exceed expectations and
            empower our clients.</p>
         <div class="call_to_action">
            <button class="link_action btn_font_size" hx-get="/views/contact.html" hx-target="#display"
               hx-trigger="click">Contact us</button>
         </div>
      </div>

      <div class="info_center">
         <img src="../img/circle_of_life.webp" alt="" class="img_spec">
      </div>
   </div>

   <div class="about">
      <h1>About</h1>
      <p>Mind's Eye Security was established with a clear and focused mission: to offer our clients unparalleled
         expertise in the security industry, coupled with unwavering ethical standards throughout every phase of our
         engagement. We understand that security is not just about protection but also about trust, transparency, and
         accountability. Therefore, we are committed to delivering insightful and professional solutions that are
         tailored to the unique needs of each client, ensuring that they receive the most effective and reliable
         security services possible.</p>
      <p>
         At Mind's Eye Security, integrity is at the core of everything we do. We believe that maintaining honest and
         open communication with our clients is essential for building long-lasting relationships and achieving the best
         possible outcomes. Our goal is to not only meet but exceed our clients' expectations by providing insightful
         guidance and maintaining the highest ethical standards.
      </p>
      <p>From the initial consultation to the final implementation of security measures, we are dedicated to ensuring
         that our clients receive the best possible service. We take pride in our ability to understand the unique
         challenges and needs of each client and provide customized solutions that are both effective and efficient. Our
         commitment to integrity means that we will always act in the best interests of our clients, providing them with
         the peace of mind that comes from knowing they are working with a trusted partner in security.</p>
   </div>

   <div>
      <h2>Meet the owners</h2>
      <div class="about_section">section 1</div>
      <div class="about_section">section 2</div>
      <div class="about_section">section 3</div>
   </div>

   <footer class="footer">
      This is a footer
   </footer>
</body>

</html>